<div class="demos">
  <div class="data-v-demo">
    <dv-border-box-1>
      <pre>
        &lt;dv-border-box-1&gt;&lt;/dv-border-box-1&gt;
      </pre>
    </dv-border-box-1>
  </div>

  <div class="data-v-demo">
    <dv-border-box-2>
      &lt;dv-border-box-2&gt;&lt;/dv-border-box-2&gt;
    </dv-border-box-2>
  </div>

  <div class="data-v-demo">
    <dv-border-box-3>
      &lt;dv-border-box-3&gt;&lt;/dv-border-box-3&gt;
    </dv-border-box-3>
  </div>

  <div class="data-v-demo">
    <dv-border-box-4>
      &lt;dv-border-box-4 &gt;&lt;/dv-border-box-4&gt;
    </dv-border-box-4>
  </div>

  <div class="data-v-demo">
    <dv-border-box-4 [reverse]="true">
      &lt;dv-border-box-4 [reverse]="true" &gt;&lt;/dv-border-box-4&gt;
    </dv-border-box-4>
  </div>

</div>
