:host {
  display: block;
  height: 100%;
  position: relative;
  overflow: auto;
}

.demos {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.data-v-demo {
  margin: 8px;
  padding: 32px;
  height: 230px;
  border-radius: 2px;
  background-color: #000000;
  color: #e6e6e6;
}
